Interfaces/Interfaces/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1150/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1150/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1150/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaSeries" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_update_vista_anime_InputMessage">
    <wsdl:part name="parameters" element="tns:update_vista_anime" />
  </wsdl:message>
  <wsdl:message name="IService1_update_vista_anime_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_vista_animeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_listaquenotengo_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_listaquenotengo" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_listaquenotengo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_listaquenotengoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Añade_alista_InputMessage">
    <wsdl:part name="parameters" element="tns:Añade_alista" />
  </wsdl:message>
  <wsdl:message name="IService1_Añade_alista_OutputMessage">
    <wsdl:part name="parameters" element="tns:Añade_alistaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNews" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaSeries" message="tns:IService1_ListaSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaSeriesResponse" message="tns:IService1_ListaSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_vista_anime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/update_vista_anime" message="tns:IService1_update_vista_anime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/update_vista_animeResponse" message="tns:IService1_update_vista_anime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_listaquenotengo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_listaquenotengo" message="tns:IService1_Get_listaquenotengo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_listaquenotengoResponse" message="tns:IService1_Get_listaquenotengo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Añade_alista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Añade_alista" message="tns:IService1_Añade_alista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Añade_alistaResponse" message="tns:IService1_Añade_alista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNews" message="tns:IService1_GetNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNewsResponse" message="tns:IService1_GetNews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaSeries">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_vista_anime">
      <soap:operation soapAction="http://tempuri.org/IService1/update_vista_anime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_listaquenotengo">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_listaquenotengo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Añade_alista">
      <soap:operation soapAction="http://tempuri.org/IService1/Añade_alista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1150/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>